cvxpy==1.3.1
gurobipy==10.0.1
imageio==2.19.3
ipdb==0.13.11
matplotlib==3.7.3
networkx==3.0
numpy==1.24.4
omega==0.3.1
scipy==1.10.1
-e git+ssh://git@github.com/tulip-control/tulip-control.git@83f993c2ae06aa8368e4bbba02bf52d68725e106#egg=tulip
